*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
:root{
    --BgFacebook: #3b5998;
    --BgTwitter: #00acee;
    --BgInstagram: #DD2A7B;
    --BgWhatsapp: #25d366;
    --BgYoutube: #c4302b ;
}
.Container{
    min-height: 100vh;
    background-image: linear-gradient(
        rgba(0,0,0,.8),
        rgba(0,0,0,.8)
    ),
    url(../img/BG.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
}
.ShowNetworksButton{
    width: 70px;
    height: 70px;
    border-radius: 100%;
    background: white;
    position: fixed;
    bottom: 35px;
    right: 35px;
    color: #1e1e1e;
    font-size: 1.5em;
    transition: .9s;
    cursor: pointer;

    display: grid;
    place-items: center;
    z-index: 998;

    animation: ShowNetworksButton 1s;
}
@keyframes ShowNetworksButton{
    0%{
        bottom: -80px;
    }
    100%{
        bottom: 35px;
    }
}
.ShowNetworksButton:hover{
    background: #1e1e1e;
    color: #fff;
    box-shadow: 0px 0px 10px 5px #fff;
    transition: .9s;
}
.Container.active .ShowNetworksButton{
    transform: rotate(180deg);
}
.Social{
    width: 70px;
    height: 70px;
    border-radius: 100%;
    position: fixed;
    right: 35px;
    bottom: 35px;
    font-size: 1.5em;
    transition: .9s;
    cursor: pointer;
    animation: ShowNetworksButton 1s;

    display: grid;
    place-items: center;
    z-index: 997;
}
.Social a{
    color: #fff;
    transition: .9s;
}
.Container.active .Social:nth-child(2){
    bottom: calc(70px + 35px + 10px);
    background: var(--BgFacebook);
    transition: .9s;
}
.Social:nth-child(2):hover{
    box-shadow: 0px 0px 10px 5px var(--BgFacebook);
    transition: .9s;
}
.Social:nth-child(2):hover a{
    transform: scale(1.5) rotateY(360deg);
    color: var(--BgFacebook);
    transition: .9s;
}
.Container.active .Social:nth-child(3){
    bottom: calc(140px + 35px + 20px) !important;
    background: var(--BgTwitter);
    transition: .9s;
}
.Social:nth-child(3):hover { 
    box-shadow: 0px 0px 10px 5px var(--BgTwitter);
    transition: .9s;
}
.Social:nth-child(3):hover a{ 
    transform: scale(1.5) rotateY(360deg);
    color: var(--BgTwitter);
    transition: .9s;
}
.Container.active .Social:nth-child(4){
    bottom: calc(210px + 35px + 30px) !important;
    background: var(--BgInstagram);
    transition: .9s;
}
.Social:nth-child(4):hover {
    box-shadow: 0px 0px 10px 5px var(--BgInstagram);
    transition: .9s;
}
.Social:nth-child(4):hover a{
    transform: scale(1.5) rotateY(360deg);
    color: var(--BgInstagram);
    transition: .9s;
}
.Container.active .Social:nth-child(5){
    bottom: calc(280px + 35px + 40px) !important;
    background: var(--BgWhatsapp);
    transition: .9s;
}
.Social:nth-child(5):hover {
    box-shadow: 0px 0px 10px 5px var(--BgWhatsapp);
    transition: .9s;
}
.Social:nth-child(5):hover a{
    transform: scale(1.5) rotateY(360deg);
    color: var(--BgWhatsapp);
    transition: .9s;
}
.Container.active .Social:nth-child(6){
    bottom: calc(350px + 35px + 50px) !important; 
    background: var(--BgYoutube);
    transition: .9s;
}
.Social:nth-child(6):hover { 
    box-shadow: 0px 0px 10px 5px var(--BgYoutube);
    transition: .9s;
}
.Social:nth-child(6):hover a{ 
    transform: scale(1.5) rotateY(360deg);
    color: var(--BgYoutube);
    transition: .9s;
}
.Social:hover{
    background: #fff !important;
    transition: .9s;
}