*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
:root{
    --BgFacebook: #3b5998;
    --BgTwitter: #00acee;
    --BgInstagram: #DD2A7B;
    --BgWhatsapp: #25d366;
    --BgYoutube: #c4302b ;
}
.Container{
    min-height: 100vh;
    background: #d8d8d8;
    background-image: linear-gradient(
        rgba(0,0,0,.8),
        rgba(0,0,0,.8)
    ),
    url(../img/BG.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: grid;
    place-items: center;
    place-content: center;
    gap: 20px;
}
.Social{
    display: inline-block;
    width: 70px;
    height: 70px;
    background: #fff;
    border-radius: 45px;
    cursor: pointer;
    overflow: hidden;
    transition: 1s;
}
.Icon{
    display: inline-block;
    width: 70px;
    height: 70px;
    background: #fff;
    border-radius: 45px;
    text-align: center;
    line-height: 70px;
    font-size: 1.5em;
    transition: 1s;
}
.Name{
    font-size: 1.5em;
    font-weight: 600;
    letter-spacing: 1px;
    margin-left: 15px;
}
.Social:nth-child(1):hover, .Social:nth-child(2):hover, .Social:nth-child(3):hover, .Social:nth-child(4):hover, .Social:nth-child(5):hover{
    width: 250px;
}
.Social:nth-child(1):hover{
    color: var(--BgFacebook);
}
.Social:nth-child(2):hover{
    color: var(--BgTwitter);
}
.Social:nth-child(3):hover{
    color: var(--BgInstagram);
}
.Social:nth-child(4):hover{
    color: var(--BgWhatsapp);
}
.Social:nth-child(5):hover{
    color: var(--BgYoutube);
}
.Social:nth-child(1):hover .Icon, .Social:nth-child(2):hover .Icon, .Social:nth-child(3):hover .Icon, .Social:nth-child(4):hover .Icon, .Social:nth-child(5):hover .Icon{
    transition: 1s;
    color: #fff;
}
.Social:nth-child(1):hover .Icon{
    background: var(--BgFacebook);
}
.Social:nth-child(2):hover .Icon{
    background: var(--BgTwitter);
}
.Social:nth-child(3):hover .Icon{
    background: var(--BgInstagram);
}
.Social:nth-child(4):hover .Icon{
    background: var(--BgWhatsapp);
}
.Social:nth-child(5):hover .Icon{
    background: var(--BgYoutube);
}
